{#
 * ----------------------------------------------------------------------------
 *                              ANNOUNCES TEMPLATE
 * ----------------------------------------------------------------------------
 * Created by Viacheslav Avramenko aka Lordz (avbitinfo@gmail.com)
 * Created on 01.03.2016. Last modified on 10.11.2016
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE":
 * As long as you retain this notice you can do whatever you want with this stuff.
 * If we meet some day, and you think this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
#}
{% extends "base.twig" %}


{% block content %}

    <div class="row">
        <div class="col-sm-10 col-lg-offset-1">

            {% if announces %}
                <!-- BEGIN ANNOUNCES LIST -->
                <div>
                    <table class="info">
                        <thead>
                        <tr>
                            <th class="title" colspan="8"> -= {% trans "Active bittorrent network announcements" %} =- </th>
                        </tr>
                        <tr>
                            <th> seeders </th>
                            <th> leechers </th>
                            <th> name / info_hash_hex </th>
                            <th> size </th>
                            <th> comment </th>
                            <th> update_time </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- BEGIN announces_body -->
                        {% set announces_count = 0 %}
                        {% for announce in announces %}
                            {% set announces_count = loop.length %}
                            <tr class="selected">
                                <td>{{ announce.seeders }}</td>
                                <td>{{ announce.leechers }}</td>
                                <td>
                                    <div>
                                        <a href="magnet:?xt=urn:btih:{{ announce.info_hash_hex }}&dn={{ announce.name }}&xl={{ announce.size }}&tr=http://retracker.local/announce">{{ announce.name }}</a>
                                        <div style="text-align: center; font-size: smaller; color: lightgray; vertical-align:bottom;">InfoHashHex: {{ announce.info_hash_hex }}</div>
                                    </div>
                                </td>
                                <td>{{ announce.size|sizeHR }}</td>
                                <td>{{ announce.comment|raw }}</td>
                                <td>{{ announce.update_time|date('d.m.Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        <!-- END announces_body -->
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7"> Загалом: {{ announces_count }} </th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- END ANNOUNCES LIST -->
            {% else %}
                <br>
                <p align="center" class="title warning"><b>{% trans "There are no active bittorrent network announcements." %}</b> </p>
            {% endif %}

        </div>
    </div>

    <br><br><br><br>



{% endblock %}
