{#
 * ----------------------------------------------------------------------------
 *                             SEARCH TEMPLATE
 * ----------------------------------------------------------------------------
 * Created by Viacheslav Avramenko aka Lordz (avbitinfo@gmail.com)
 * Created on 10.11.2016. Last modified on 16.11.2016
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE":
 * As long as you retain this notice you can do whatever you want with this stuff.
 * If we meet some day, and you think this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
#}

{% extends "base.twig" %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">

            <form role="form" action='{{ base_path }}/{{ navAction }}' method='POST'>
                <input type="hidden" name="search_query" value="{{ announces.search_query }}"/>

                {% if announces.result %}
                    <!-- BEGIN ANNOUNCES LIST -->
                    <div>
                        <table class="info">
                            <thead>
                            <tr>
                                <th class="title" colspan="8"> {% trans "Search results for" %} <span style="color: gray; font-weight: normal; ">'{{ announces.search_query }}'</span></th>
                            </tr>
                            <tr>
                                <td> seeders </td>
                                <td> leechers </td>
                                <td> name / info_hash_hex </td>
                                <td> size </td>
                                <td> comment </td>
                                <td> update_time </td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- BEGIN announces_body -->
                            {% set announces_count = 0 %}
                            {% for announce in announces.result %}
                                {% set announces_count = loop.length %}
                                <tr class="selected">
                                    <td>{{ announce.seeders }}</td>
                                    <td>{{ announce.leechers }}</td>
                                    <td>
                                        <div>
                                            <a href="{{ announce.magnet_urn }}">{{ announce.name }}</a>
                                            <div class="info_hash_hex">InfoHashHex: {{ announce.info_hash_hex }}</div>
                                        </div>
                                    </td>
                                    <td>{{ announce.size|sizeHR }}</td>
                                    <td>{{ announce.comment|raw }}</td>
                                    <td>{{ announce.update_time|date('d.m.Y H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            <!-- END announces_body -->
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">
                                    <hr>
                                    {% trans "Page" %} {{ announces.page_num }} {% trans "of" %} {{ announces.pages }}
                                    <!-- BEGIN PAGINATION -->
                                    {% set page_num = announces.page_num %}
                                    {% set pages_count = announces.pages %}
                                    {% if pages_count > 1 %}
                                        <div class="text-center">
                                            <div class="btn-group btn-group-sm">
                                                {% if page_num > 1 %}
                                                    <button type="submit" class="btn btn-default" name="page_num" title="{% trans "First page" %}" value="1" ><span aria-hidden="true">&laquo;</span></button>
                                                {% endif %}

                                                {% set first_num = 1 %}
                                                {% set last_num = pages_count %}
                                                {% set max_num = 10 %}

                                                {% if pages_count > max_num %}
                                                    {% set first_num = page_num-(max_num/2) %}
                                                    {% if first_num <= 0 %}
                                                        {% set first_num = 1 %}
                                                        {% set diff = page_num-(max_num/2) %}
                                                    {% endif %}

                                                    {% set last_num = page_num+(max_num/2)-diff %}
                                                    {% if last_num > pages_count %}
                                                        {% set last_num = pages_count %}
                                                    {% endif %}
                                                {% endif %}

                                                {% for i in range(first_num, last_num) %}
                                                    {% if page_num == loop.index-1+first_num %}
                                                        <button type="submit" class="btn btn-default pagination_selected" name="page_num" title="{% trans "Page" %} {{ i }}" value="{{ i }}" >{{ i }}</button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-default" name="page_num" title="{% trans "Page" %} {{ i }}" value="{{ i }}" >{{ i }}</button>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if page_num < pages_count %}
                                                    <button type="submit" class="btn btn-default" name="page_num" title="{% trans "Last page" %}" value="{{ pages_count }}" ><span aria-hidden="true">&raquo;</span></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- END PAGINATION -->
                                </th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- END ANNOUNCES LIST -->
                {% else %}
                    <br>
                    <p class="title"> {% trans "Search results for" %} <span style="color: gray; font-weight: normal; ">'{{ announces.search_query }}'</span></p>
                    <p align="center" class="title warning"><b>{% trans "Your search nothing has been found." %}</b> </p>
                {% endif %}
            </form>


        </div>
    </div>

    <br><br><br><br>

{% endblock %}
