{#
 * ----------------------------------------------------------------------------
 *                             SEARCH TEMPLATE
 * ----------------------------------------------------------------------------
 * Created by Viacheslav Avramenko aka Lordz (avbitinfo@gmail.com)
 * Created on 10.11.2016. Last modified on 14.11.2016
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE":
 * As long as you retain this notice you can do whatever you want with this stuff.
 * If we meet some day, and you think this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
#}

{% extends "base.twig" %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">

            <br>
            <p align="center" class="title">{% trans "Search" %}: <span style="color: gray; font-weight: normal; ">'{{ search_query }}'</span></p>

            {% if search_result %}
                <!-- BEGIN ANNOUNCES LIST -->
                <div>
                    <table class="info">
                        <thead>
                        <tr>
                            <th class="title" colspan="8"> {% trans "Search results" %} </th>
                        </tr>
                        <tr>
                            <td> seeders </td>
                            <td> leechers </td>
                            <td> name / info_hash_hex </td>
                            <td> size </td>
                            <td> comment </td>
                            <td> update_time </td>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- BEGIN announces_body -->
                        {% set search_result_count = 0 %}
                        {% for one in search_result %}
                            {% set search_result_count = loop.length %}
                            <tr class="selected">
                                <td>{{ one.seeders }}</td>
                                <td>{{ one.leechers }}</td>
                                <td>
                                    <div>
                                        <a href="magnet:?xt=urn:btih:{{ one.info_hash_hex }}&dn={{ one.name }}&xl={{ one.size }}&tr=http://retracker.local/announce">{{ one.name }}</a>
                                        <div class="info_hash_hex">InfoHashHex: {{ one.info_hash_hex }}</div>
                                    </div>
                                </td>
                                <td>{{ one.size|sizeHR }}</td>
                                <td>{{ one.comment|raw }}</td>
                                <td>{{ one.update_time|date('d.m.Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        <!-- END announces_body -->
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7"> {% trans "Total:" %} {{ search_result_count }} </th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- END ANNOUNCES LIST -->
            {% else %}
                <br>
                <p align="center" class="title warning"><b>{% trans "Your search nothing has been found." %}</b> </p>
            {% endif %}

        </div>
    </div>

    <br><br><br><br>



{% endblock %}
