{#
 * ----------------------------------------------------------------------------
 *                             STATISTIC TEMPLATE
 * ----------------------------------------------------------------------------
 * Created by Viacheslav Avramenko aka Lordz (avbitinfo@gmail.com)
 * Created on 01.03.2016. Last modified on 22.11.2016
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE":
 * As long as you retain this notice you can do whatever you want with this stuff.
 * If we meet some day, and you think this stuff is worth it, you can buy me a beer in return.
 * ----------------------------------------------------------------------------
#}

{% extends "base.twig" %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1">

            <table class="info">
                <thead>
                <tr>
                    <th class="title" colspan="2"> {% trans "Statistic" %} </th>
                </tr>
                <tr>
                    <td> PEERS </td>
                    <td> INFO_HASH </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <br>
                        Seeders: {{ statistic.count_seeders }}<br>
                        Leechers: {{ statistic.count_leechers }}<br>
                        Total: {{ statistic.count_peers }}<br>
                        <br>
                        Last minute. Requests per second (max/last/avg): {{statistic.request_per_second.max}}/{{statistic.request_per_second.last}}/{{statistic.request_per_second.avg}}<br>
                    </td>
                    <td>
                        <br>
                        Announces: {{ statistic.count_info_hash_announce }} <br>
                        History: {{ statistic.count_info_hash_history }}<br><br>

                        Resolved announces: {{ statistic.count_resolved_info_hash }}<br>
                        Unknown announces: {{ statistic.count_unknoun_info_hash }}<br>
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <br><br><br><br>

{% endblock %}
